<p>
	<%= link_to 'Categories', categories_path %> <br>
	<strong><%= @category.name %></strong><br>
		<hr>
			<%= image_tag(@category.image.url(:big)) if @category.image.exists? %>
			<%= link_to(image_tag(@category.image.url(:small)), @category.image.url, target: '_blank') if @category.image.exists? %>
</p>
<%= link_to 'new Product', new_category_product_path(@category.id)  %>
